.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #{&}__text {
    margin: 2px;
    padding-top: 10px;
    font-size: 4.5rem;
    color: white;
  }
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchBar__bar {
  font-family: FF_PSX;
  font-size: 2rem;
  width: 70%;
  border: 3px black solid;
  color: #0b254d;
}

.searchBar__searchIcon {
  position: relative;
  top: 0.15rem;
  right: 2rem;
}

@media (max-width: 1023px) {
  .searchContainer {
    #{&}__text {
      font-size: 4rem;
    }
  }
}

@media (max-width: 424px) {
  .searchContainer {
    #{&}__text {
      font-size: 3rem;
    }
  }
}





